<h1>Add new asset</h1>
<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <div class="horizontal">
    <div class="vertical">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
        <mat-error>
          Please provide a title
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
        <mat-error>
          Please provide a Description
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Video File</mat-label>
        <ngx-mat-file-input formControlName="inputFile" accept=".mov,.mp4,.mxf," [required]="true"></ngx-mat-file-input>
        <mat-icon matSuffix class="attach-file">attach_file</mat-icon>
        <mat-error>
          Please select a MP4, MOV or MXF file
        </mat-error>
      </mat-form-field>
      <div class="align-right">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
  </div>
</form>
