:host {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 30vw;
}

.workflow-jobs-table {
    flex: 1;
    margin: 0 10px;
}

.mat-paginator {
    margin: 0 10px;
}

tr.mat-row {
    cursor: pointer;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}