.gradle/
.terraform/
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
node_modules/
dist/
gradle.properties
/multi-cloud-ai-workflow/deployment/storage/website.tf
terraform.output
aws-credentials.json
/multi-cloud-ai-workflow/website/src/config.json
/multi-cloud-ai-workflow/website/deployment/files.tf
.terraform.tfstate.lock.info
