mat-card {
  max-width: 400px;
  margin: 10em auto 0 auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 234px;
  margin: 2em auto 0 0;
}
