<mat-sidenav-container>
    <mat-toolbar>
        <div class="img-and-icon">
            <img src="assets/images/cloud-logo.svg">
            <h2>MCMA</h2>
        </div>
        <div class="nav-items"
             *ngIf="!(isLoggedIn$ | async)"></div>
        <div class="nav-items"
             *ngIf="isLoggedIn$ | async">
            <div class="nav-item"
                 routerLink="run"
                 routerLinkActive="active">
                <mat-icon>play_arrow</mat-icon>
                <span>Run</span>
            </div>
            <div class="nav-item"
                 routerLink="monitor"
                 routerLinkActive="active">
                <mat-icon>visibility</mat-icon>
                <span>Monitor</span>
            </div>
            <div class="nav-item"
                 routerLink="services"
                 routerLinkActive="active">
                <mat-icon>device_hub</mat-icon>
                <span>Services</span>
            </div>
        </div>
        <div class="app-details">
            <span>Workflow Sample App</span>
        </div>
    </mat-toolbar>

    <div class="app-content"
         *ngIf="isLoggedIn$ | async">
        <router-outlet></router-outlet>
    </div>

    <div class="logging-in"
         *ngIf="!(isLoggedIn$ | async)">
        <span>Logging into Cognito...</span>
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

</mat-sidenav-container>

<mcma-modal></mcma-modal>
