mat-card {
  max-width: 400px;
  margin: 10em auto 0 auto;
  text-align: center;
}

mat-form-field {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

mat-vertical-stepper {
  text-align: left;
}
