<mat-card>
  <mat-card-content>
    <h1>Reset password</h1>
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="usernameForm" [completed]="usernameCompleted">
        <form [formGroup]="usernameForm" (ngSubmit)="requestCode(stepper)">
          <ng-template matStepLabel>Fill out your username or email</ng-template>
          <mat-error *ngIf="usernameErrorMessage">
            {{usernameErrorMessage}}
          </mat-error>
          <mat-form-field class="full-width-input">
            <mat-label>Username or email</mat-label>
            <input matInput formControlName="username" required>
            <mat-error>
              Please provide a valid user name
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordResetCodeForm" [completed]="passwordResetCodeCompleted">
        <form [formGroup]="passwordResetCodeForm">
          <ng-template matStepLabel>Fill out password reset code</ng-template>
          <p>A password reset code has been sent to you by {{passwordResetCodeMedium}} to <b>{{passwordResetCodeDestination}}</b></p>
          <mat-error *ngIf="passwordResetCodeErrorMessage">
            {{passwordResetCodeErrorMessage}}
          </mat-error>
          <mat-form-field class="full-width-input">
            <mat-label>Password reset code</mat-label>
            <input matInput formControlName="passwordResetCode" required>
            <mat-error>
              Please provide the received password reset code.
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button (click)="submitCode(stepper)">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="setNewPasswordForm">
        <form [formGroup]="setNewPasswordForm" (ngSubmit)="submit()">
          <ng-template matStepLabel>Set new password</ng-template>
          <p>
            Your password must have at least 8 characters and requires to have at least one number, one lowercase character, one uppercase character, and one
            special character.
          </p>
          <mat-error *ngIf="setNewPasswordErrorMessage">
            {{setNewPasswordErrorMessage}}
          </mat-error>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="New password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="passwordMatcher" required>
            <mat-error *ngIf="setNewPasswordForm.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button>Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
