<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>MCMA Media Asset Management Tool</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <mat-label>Username or email</mat-label>
        <input matInput formControlName="username" required>
        <mat-error>
          Please provide a valid user name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <div class="buttons">
        <button mat-flat-button type="button" (click)="forgotPassword()">Forgot Password?</button>
        <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
