<div class="workflow-job-data" *ngIf="workflowJob">

  <div class="job-info">
    <div class="job-preview-player">
      <video controls [src]="mediaFileUrl"></video>
    </div>
    <div class="job-fields">
      <div class="job-field">
        <label>Title:</label>
        <span>{{ workflowJob.jobInput.metadata.name }}</span>
      </div>
      <div class="job-field">
        <label>Description:</label>
        <span>{{ workflowJob.jobInput.metadata.description }}</span>
      </div>
      <div class="job-field">
        <label>File Name:</label>
        <span>{{ workflowJob.jobInput.inputFile.awsS3Key }}</span>
      </div>
      <div class="job-field">
        <label>AI Status:</label>
        <span>{{ aiWorkflowJobStatus }}</span>
      </div>
    </div>
  </div>

  <div class="ai-info">
    <mat-tab-group>
      <mat-tab label="Transcript">{{ transcription }}</mat-tab>
      <mat-tab label="Translation">{{ translation }}</mat-tab>
      <mat-tab label="Celebrity">Hey its a movie star! </mat-tab>
    </mat-tab-group>
  </div>

</div>

