@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

:host {
    padding: 30px 30px;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.job-info {
    display: flex;
    margin-bottom: 20px;
}

.job-preview-player {
    width: 640px;
    height: 360px;

    video {
        width: 100%;
    }
}

.job-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.job-field {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;

    label {
        color: mat-color($mcma-primary, 600);
        width: 100px;
        text-align: right;
        margin-right: 15px;
        font-size: 16px;
        font-weight: bold;
    }

    span {
        font-size: 20px;
        color: white;
    }
}

tr.mat-row {
    cursor: pointer;
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.celebrity-info {
    display: flex;
    padding-top: 1vw;
}