/* You can add global styles to this file, and also import other style files */
@import '~spinkit/scss/spinkit';

@import 'styles/fonts';
@import 'styles/theme';
@import 'styles/uploads';
@import 'styles/scrollbars';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-spacer {
    flex: 1;
}