@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: mat-color($mcma-primary, 700);
  outline: 1px solid mat-color($mcma-primary, 900);
}