<mat-toolbar color="primary" class="mat-elevation-z8">
  <div>
    <div class="title">MCMA Media Asset Management Tool</div>
    <div class="subtitle">Not a MAM</div>
  </div>
  <span class="toolbar-spacer"></span>
  <h1>{{user?.name}}</h1>
  <button mat-icon-button
          aria-label="Logout"
          matTooltip="Logout"
          matTooltipPosition="before"
          (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="assets">
        <span class="full-width">Browse</span>
        <mat-icon mat-list-icon>search</mat-icon>
      </a>
      <a mat-list-item routerLink="assets/add">
        <span class="full-width">Add Asset</span>
        <mat-icon mat-list-icon>library_add</mat-icon>
      </a>
      <a mat-list-item routerLink="workflows">
        <span class="full-width">Workflows</span>
        <mat-icon mat-list-icon>construction</mat-icon>
      </a>
      <a mat-list-item routerLink="settings">
        <span class="full-width">Settings</span>
        <mat-icon mat-list-icon>settings</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<div class="sidenav-content">
  <router-outlet></router-outlet>
</div>
